/*Background*/

#background {
    background-image: url("/assets/images/Octomon.png");
    background-size: cover;
    background-repeat: no-repeat;
}


/*HEADER*/

header {
    background-color: slateblue;
    text-align: center;
}

h1 {
    font-family: 'Mystery Quest', cursive, sans-serif;
    font-size: 10em;
    margin: 0
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
    vertical-align: bottom;
    padding: 12px;
}


/*Main*/

main {
    background-color: slateblue;
    padding: 4px;
    width: 99.4%;
    display: flex;
}

aside {
    background-color: peru;
    margin: 3px;
    width: 25%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex
}

#quizDiv {
    background-color: rgb(30, 30, 66);
    width: 75%;
    max-height: auto;
    color: white;
    font-family: arial;
    margin: 3px;
    padding: 10px;
    text-align: center;
}

#submit {
    height: 50px;
    width: auto;
    vertical-align: bottom;
}

.emptySpan1 {
    width: 25%;
}

aside:first-child {
    flex-wrap: wrap;
    padding: 15px;
}

aside:nth-child(3) {
    width: 75%;
}


/*Footer*/

footer {
    margin: 10px auto;
    background-color: black;
    color: white;
    padding: 7px;
    min-height: 100%;
}

footer:first-child {
    text-align: center;
}

footer:nth-child(2) {
    margin: 0px auto;
}

button {
    width: 15%;
    height: 100%;
}